*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;


}
header{
    background-color: #222;
    margin: 0;
    height: 8vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    padding: 50px;
    margin-left: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
#quiz {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    color: white;

    margin-bottom: 10px;
}


button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

button:hover {
    background-color: #555;
}

#choices  {
    display: table;
    margin: auto;
}

input{
    width: 20px;
    height: 20px;
    margin-top: 1vh;
}
#check{

    margin-left: 40%;


}

.choice-item{
    display: flex;
    align-items: flex-start;
    padding: 3px;
}
