body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkblue;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightblue;
}

h1 {
    color: #666;
}


button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#choices  {
    display: table;
    text-align: left;
    margin:auto;


}
#check{
    display: none;
    margin-left: 40%;


}

.choice-item{
    display: flex;
    align-items: flex-start;
    padding: 3px;
}
